* {
    margin: 0%;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

span {
    color: #ffdd00;
}
#active_menu{
    color: #ffdd00;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(7, 7, 7);
    margin-left: 25px;
    text-decoration: none;


}

.slide {
    width: 100vw;
    height: 100vh;
    background: hsla(42, 94%, 57%, 1);

    background: radial-gradient(circle, hsla(42, 94%, 57%, 1) 14%, hsla(52, 100%, 50%, 1) 78%, hsla(47, 97%, 54%, 1) 89%);

    background: -moz-radial-gradient(circle, hsla(42, 94%, 57%, 1) 14%, hsla(52, 100%, 50%, 1) 78%, hsla(47, 97%, 54%, 1) 89%);

    background: -webkit-radial-gradient(circle, hsla(42, 94%, 57%, 1) 14%, hsla(52, 100%, 50%, 1) 78%, hsla(47, 97%, 54%, 1) 89%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F9BC2C", endColorstr="#FFDD00", GradientType=1);
}

.slide img {
    border-radius: 10% 30% 50% 70%;
    background-size: cover;
    height: 25rem;
    width: 25rem;
    background-position: center;
    position: relative;
    left: 42rem;
    top: 5rem;
    box-shadow: 5px 6px 30px black;

}

/* section1 content css */
.content {
    color: #292929;
    font-size: 1.2em;
    /* background-color: #FFA3AF; */
    position: relative;
    bottom: 20rem;
    margin-left: 3rem;
    padding-right: 45rem;
    font-family: "Poppins", sans-serif;
    ;
}

.content h1 {
    color: #111;
    font-size: 4rem;
    font-weight: bolder;
}

.content_button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 50px;
    width: 300px;
    background-color: #151514;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
}

.content_button:hover {
    background-color: #f4f3f0;
    color: #111;
    cursor: pointer;
    border: 2px solid black;
}

/* about content css */
.about_content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-top: 6rem;
    margin-left: 8rem;

}

.about_content p {
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 12rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 2rem;
}

/* mywork css */
.mywork h1 {
    font-family: "Poppins", sans-serif;
    margin-top: 5rem;
    margin-left: 8rem;
    font-size: 2rem;
    font-weight: 600;

    /* margin-right: 10rem; */
}

.mywork p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-left: 25rem;
    margin-right: 10rem;
    margin-top: -2.5rem;

}

.mywork b {
    line-height: 5rem;
}







/* ready div css */
.ready {
    margin-top: 1.7rem;
    height: auto;
    width: 100%;
    background-color: pink;
    font-family: "Poppins", sans-serif;
    box-shadow: 14px 14px 28px #989898,
        -14px -14px 28px #ffffff;
    text-align: center;

}

.ready {
    position: relative;
    background: #ffdd00;
    height: auto;
}

.ready::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 57px 57px 0 57px;
    border-color: #ffdd00 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}

.ready h1 {
    font-size: 4rem;
    padding-top: 60px;
    font-weight: 900;
    text-align: center !important;
}

.ready p {
    color: #fcf9f9;
    font-size: 1rem;
    text-align: center !important;
}

.button4 {
    position: relative;
    bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    height: 35px;
    width: 250px;
    text-align: center;
    padding-top: 6px;
    border-radius: 30px;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
    margin-left: 32rem;
    margin-bottom: 1rem;
}







/* footer css */
.footer_cont {
    width: 100%;
    padding: 70px 20px 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: #f4f3f0;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;

}

/* hover effect on icons */
.icons a:hover {
    background-color: #ffdd00;
    transition: 0.5s;
}

.icons a:hover i {
    color: rgb(8, 8, 8);
    transition: 0.5s;
}

.footer_nav {
    margin: 30px 0;
}

.footer_nav ul {
    display: flex;
    justify-content: center;
}

.footer_nav ul li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.4;
    transition: 0.5s;
    font-weight: 500;

}

.footer_nav ul li {
    list-style: none;
}

.footer_nav ul li a:hover {
    opacity: .9;
    color: #ffdd00;
}

.footerbottom {
    text-align: center;
}

.footerbottom p {
    color: #111;
}

@media all and (max-width:600px) {
    html {
        font-size: 85%;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }

    

    .slide img {

        border-radius: 50%;
        background-size: cover;
        height: 19rem;
        width: 19rem;
        background-position: center;
        position: relative;
        left: 16rem;
        top: 15rem;
        box-shadow: 5px 6px 30px black;


    }

    .content {
        font-family: "Poppins", sans-serif;
        
    }

    .content {
        /* margin-right: 0%; */
        padding-right: 3rem !important;
        margin-right: 6rem;
    }

    .content h1 {
        color: #111;
        font-size: 4rem;
        font-weight: bolder;
        margin-top: 6rem;
        line-height: 5rem;
        padding-bottom: 1rem;
       

    }

    .content p {

        margin-right: 0%;
        padding-right: 0%;
        padding-bottom: 3rem;
    }

    .about_content h1 {
        text-decoration: underline;
        text-decoration-color: #ffdd00;
        padding-bottom: 2rem;       

        margin-left: 0%;

        text-align: center !important;

    }

    .about_content p {

        margin-left: 3rem;

        margin-right: 2rem;
    }

    .mywork h1 {
        margin-left: 3rem;

    }

    .mywork p {
        margin-left: 3rem;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .ready{
        margin-top: 5rem;
    }
    .ready h1{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2rem !important;
    }
    .ready p{
        text-align: center;
        color: #111;
        line-height: -1px;
    }
        .button4 {
           padding-top: 10px;
           width: 18rem;
        height: 3rem;
        
        }
    
        /* footer */
        .footer_nav ul {
            flex-direction: column;
            margin-right: 60px;
    
        }
    
        .footer_nav ul li {
            width: 100%;
            text-align: center;
            margin: 10px;
        }
    
    }
    /*-------------------------------------------- media quary end----------------------------------------------------- */
